PORT=3000
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

#Tokens
JWT_SECRET='G4t17o' # Cambiar esto a un secreto más seguro 
JWT_EXPIRES_IN='1d' # Cambiar esto a un tiempo de vencimiento más seguro

#EMail 
MAIL_HOST = "" # Cambiar esto a un servidor de correo más seguro
MAIL_PORT = 0 # Cambiar esto a un puerto de correo más seguro
MAIL_USER = "" # Cambiar esto a un usuario de correo más seguro
MAIL_PASS = "" # Cambiar esto a una contraseña de correo más segura

#Google Auth2.0
GOOGLE_CLIENT_ID="" # Cambiar esto a un ID de cliente de Google más seguro, se obtiene en google cloud
GOOGLE_REDIRECT_URI="" # Cambiar esto a una URL de redirección de Google más segura, se obtiene en google cloud
GOOGLE_CLIENT_SECRET="" # Cambiar esto a un secreto de cliente de Google más seguro, se obtiene en google cloud
