<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reporte de Órdenes</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      h1 {
        text-align: center;
        color: #55482c;
      }
      thead th {
        color: rgb(226, 217, 206);
        text-align: center;
      }
      th,
      td {
        padding: 8px;
        text-align: left;
        border: 1px solid #2d8f76;
      }
      th {
        background-color: #55482c;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Reporte de Pedidos - CHAQCHAO</h1>
    </div>

    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Codigo Unico</th>
          <th>Hora de Recojo</th>
          <th>Estado</th>
          <th>Total</th>
          <th>Dirección de Recojo</th>
        </tr>
      </thead>
      <tbody>
        {{orders}}
      </tbody>
    </table>
  </body>
</html>
